form {
  background: rgba(0,0,0,.3);
  padding: .5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

svg {
  display: block;
  overflow: hidden;
  margin: 10em auto;
  max-height: 100%;
  max-width: 100%;
}

.ensemble {
	display: inline-block;
	white-space: nowrap;
	margin-right: 10px;
}