form {
  background: rgba(0,0,255,.2);
  padding: .5em;
  font-weight: Bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 
}


svg {
		display: block;
	  overflow: hidden;
	  margin: 4em auto;
	  height: auto;
	  width: auto;
}

.ensemble {
	display: inline-block;
	white-space: nowrap;
	margin-right: 100px;
}

#container{
	width: 960px;
	margin :0px auto ;
}

@media screen and (max-width:959px){
	
	#container{
	width: 100%;
	
	}
	.ensemble {
	display: inline-block;
	white-space: nowrap;
	margin-right: 100px;
}
	form {
	  background: rgba(0,225,100,.2);
	  padding: .8em;
	  font-weight: Bold;
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
 
	}
	svg{
		
		width:100%;
		margin: 6em auto;
		
	}
	
}

/*@media screen and (max-width: 667px)and (max-height : 1000px) 

{
	form {
  background: rgba(0,0,0,.3);
  padding: .2em;
  font-weight: Bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 
	}
	svg {
		
		display: block;
	  overflow: hidden;
	  margin: 5em auto;
	  max-height: auto;
	  max-width: auto;
	
		
		}
}
*/
