form {
  background: rgba(0,0,0,.3);
  padding: .5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

svg {
		display: block;
	  overflow: hidden;
	  margin: 5em auto;
	  max-height: auto;
	  max-width: auto;
}

.ensemble {
	display: inline-block;
	white-space: nowrap;
	margin-right: 100px;
}


