form {
  background: rgba(0,0,0,.3);
  padding: .5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

svg {
  display: block;
  overflow: hidden;
  margin: 3em auto;
  height: 100vh;
  width: 100vw;
}